### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Git Toolbox 插件的个人提交校验设置，只跟本机 IDE 有关，不随仓库共享
.idea/git_toolbox_prj.xml

### Maven ###
target/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Node.js ###
node_modules/